build/
ref/test/test_nike_ref
ref/test/*_test
ref/test/test_newhope
ref/test/test_statistical
ref/test/testvectors
ref/test/speed
ref/test/test_nike_bench
avx2/*.o
avx2/test/test_newhope
avx2/test/test_statistical
avx2/test/testvectors
avx2/test/speed
avx2/test/test_nike_avx2
dist/
*.o
*.a
*.so
*.exe
API_PKC/build/
API_PKC/output/
API_PKC/build_ref_*
API_PKC/build_opt_*
API_PKC/*.o
API_PKC/**/*.o
